<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kanikakohli.horoscopeexamp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HoroscopeExamp">
        <activity
            android:name="com.kanikakohli.horoscopeexamp.DataPredictActivity"
            android:exported="false" />
        <activity
            android:name="com.kanikakohli.horoscopeexamp.PredictionEventActivity"
            android:exported="false" />
        <activity
            android:name="com.kanikakohli.horoscopeexamp.ThoughtActivity"
            android:exported="false" />
        <activity
            android:name="com.kanikakohli.horoscopeexamp.NotesEventActivity"
            android:exported="false" />
        <activity
            android:name="com.kanikakohli.horoscopeexamp.SignupActivity"
            android:exported="false" />
        <activity
            android:name="com.kanikakohli.horoscopeexamp.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.kanikakohli.horoscopeexamp.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>